
.vbn {
    background-color: rgb(94,6,138);
    height: 37.5px;
    font-size: small;

}
.hmar {
    margin-left: 35%;
}
.textz{
    font-size: 15px;
}
.im1{
    margin-left: -30px;
}
.imgsz {
    height: 500px;
}
.carou1 {
    font-size: 50px;
    margin-top: -30px;
}
.foot{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    position:fixed;
    top: 610px;
}
.vcourse{
    background: rgb(94,6,138);
    width: 20%;
    height: 60px;
    border-radius: 30px;
}
.caromargin{
    margin-left: -92px;
}
.violet{
    color: rgb(94,6,138);
}
.violite{
    color: rgb(131, 59, 199);
}

.ourcrs {
    text-align: center;
    color: purple;
    font-size: larger;

}
.ourcrs h1 span{
    color: rgb(133, 99, 172);
}
.dtimg{
    width: 95%;
    height: 350px;
}
.dtadiv{
    color: rgb(52, 7, 95);
}
.datad{
    font-size: small;
}
.divw div{
    width: 300px;
}
.divw div img{
    width: 105%;
    height: 220px;
}
.divw div h6{
    color: blueviolet;
    margin-top: 30px;
}
.divw div div{
    margin-top: 30px;
    width: 140px;
    height: 40PX;
    background-color: rgb(75, 37, 126);
    padding-top: 9px;
    padding-left: 20px;
    color: aliceblue;
}
.vac{
    margin-left: 44%;
    margin-top: 150px;
    width: 190px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    color: rgb(67, 37, 105);
    border: 2px solid rgb(67, 37, 105);
    border-radius: 30px;
    padding-left: 33px;
    padding-top: 15px;
    margin-bottom: 50px;
}
.vac:hover{
    background-color: rgb(67, 37, 105);
    color: rgb(255, 255, 255);
}
